# Dependencies
node_modules/

# Build output
dist/
.next/
out/

# Environment variables (NUNCA subir .env real)
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
pnpm-debug.log*

# Vercel
.vercel/

# Prisma
packages/db/prisma/migrations/

# TypeScript
*.tsbuildinfo
